<header class="l-header">
    <ul class="top-menu disable-link-styles">
        <li class="logo-small-container">
 
        </li>
        <li>
            <a routerLink="/lessons">Lessons</a>
        </li>
        <li *ngIf="isLoggedOut$ | async">
            <a routerLink="/signup">Sign Up</a>
        </li>
        <li *ngIf="isLoggedOut$ | async">
            <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isLoggedIn$ | async" (click)="logout()">
            <a>Logout</a>
        </li>
    </ul>
</header>

<main>

    <div class="course-header">
      


    </div>

    <router-outlet></router-outlet>

</main>





